* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(19, 56, 136, 0);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces {
    padding: 0px 5px;
    background-color: #242958;
    color: #4a9eff;
    font-weight: bolder;
    border-radius: 25px;
    opacity: 1;
}
#workspaces button {
    padding: 2px 4px;
    margin: 2px 4px;
    background-color: #b7e2ff;
    border-radius: 25px;
    color: #4a9eff;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    min-width: 24px;
}

#workspaces button label {
    font-size: x-small;
}

#workspaces button.active {
    background-color:#3679c5;
    border-radius: 25px;
    color: #b7e2ff;
    font-weight: bolder;
    min-width: 50px;
}
#workspaces button:hover {
    background-color:#4a9eff;
    color: #b7e2ff;
    border-radius: 25px;
    min-width: 50px;
}
#cpu:hover,#memory:hover,#disk:hover,
#clock:hover, #pulseaudio:hover, #keyboard-state:hover, #network:hover {
    background-color:#4a9eff;
    color: #b7e2ff;
}
#cpu,#memory,#disk,#clock,
#pulseaudio, #keyboard-state,#network, #custom-weather {
    padding: 0px 10px;
    border: solid #242958;
    border-width: 2px 5px;
    background-color: #3679c5;
    border-radius: 25px;
    color: #b7e2ff;
}

#memory {
    min-width: 80px;
}

#keyboard-state label.locked, #network.disconnected {
    color: red;
}

tooltip {
    background-color: #3679c5;
    font-weight: bold;
    border-color: #3679c5;
}
tooltip * {
    color: #b7e2ff;
}