* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(63, 63, 63, 0.075);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}
#workspaces {
    background-color: #ebebeb;
    border-radius: 25px;
    opacity: 1;
}
#workspaces button {
    padding: 1px;
    margin: 1px 2px;
    background-color: #2892d7;
    border-radius: 25px;
    color: #fde74c;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    min-width: 24px;
}
#workspaces button.active {
    padding: 1px;
    margin: 1px;
    background-color:#232ed1;
    border-radius: 25px;
    color: #ff8552;
    font-weight: bolder;
    font-size:large;
    min-width: 50px;
}
#workspaces button:hover {
    padding: 1px;
    margin: 1px;
    background-color:rgb(15, 189, 233);
    border-radius: 25px;
    min-width: 50px;
}